/* Write your CSS here */
.Summary-container {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.total-heading {
  color: #616e7c;
  font-size: 20px;
  font-family: Roboto;
  margin-bottom: 0px;
}
span {
  color: #171f46;
  font-size: 25px;
  font-family: Roboto;
}
.total-items {
  font-family: Roboto;
  color: #616e7c;
  font-size: 15px;
  margin-top: 3px;
}
.checkout-button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: roboto;
  padding: 10px;
  border: 0px;
  border-radius: 5px;
}
